@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #fff;
  --primary: #a7c7e7;
}

body {
  color: var(--foreground);
  width: 100%;
  margin: 0;
  background: var(--background);
  background: radial-gradient(
    circle at top left,
    rgb(46, 57, 66) 0%,
    rgba(0, 0, 0, 1) 70%,
    var(--background) 100%
  );
  font-family: Poppins, Helvetica, sans-serif;
}

.myShadow {
  -webkit-box-shadow: 0px 0px 45px -19px rgba(167, 199, 231, 1);
  -moz-box-shadow: 0px 0px 45px -19px rgba(167, 199, 231, 1);
  box-shadow: 0px 0px 45px -19px rgba(167, 199, 231, 1);
}
